Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.pc
.deps
.libs
*.o
*.lo
*.la
*.stamp
*.gir
*.typelib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
tags
*.sw?
src/*.vapi
src/*.h
src/*.c
test/*.c
test/tests

